[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
[submodule "lib/libmorphux"]
	path = lib/libmorphux
	url = https://github.com/Morphux/lib.git
[submodule "lib/json-c"]
	path = lib/json-c
	url = https://github.com/json-c/json-c.git
[submodule "lib/libconfuse"]
	path = lib/libconfuse
	url = https://github.com/martinh/libconfuse.git
[submodule "docs/doxygen-theme"]
	path = docs/doxygen-theme
	url = https://github.com/Ne02ptzero/doxygen-theme
[submodule "lib/libsodium"]
	path = lib/libsodium
	url = https://github.com/jedisct1/libsodium.git
